:root{
--color-primary-900: #8D0E4D;
--color-link-text-color: var(--var-900);
--color-primary-800: #AA0A5B;
--color-primary-700: #CE086D;
--color-primary-600: #EC188B;
--color-primary-500: #FB39AC;
--color-primary-400: #FF66C6;
--color-primary-300: #FFA0DE;
--color-primary-200: #FFCBEE;
--color-primary-100: #FEE5F5;
--color-primary-50: #FEF1F9;
--color-secondary-900: #065074;
--color-secondary-800: #00608C;
--color-secondary-700: #0072AA;
--color-secondary-600: #008FD3;
--color-secondary-500: #01ABEC;
--color-secondary-400: #2DC8FF;
--color-secondary-300: #75DBFF;
--color-secondary-200: #B6E9FF;
--color-secondary-100: #DEF3FF;
--color-secondary-50: #EFFAFF;
--color-gry-900: #000000;
--color-gry-800: #1A1A1A;
--color-gry-700: #333333;
--color-gry-600: #4D4D4D;
--color-gry-500: #666666;
--color-gry-400: #808080;
--color-gry-300: #999999;
--color-gry-200: #B3B3B3;
--color-gry-100: #CCCCCC;
--color-gry-50: #E6E6E6;
--color-status-success-900: #008A20;
--color-status-success-800: #1A9636;
--color-status-success-700: #33A14D;
--color-status-success-600: #4DAD63;
--color-status-success-500: #66B979;
--color-status-success-400: #80C590;
--color-status-success-300: #99D0A6;
--color-status-success-200: #B3DCBC;
--color-status-success-100: #CCE8D2;
--color-status-success-50: #E6F3E9;
--color-status-info-900: #000DFF;
--color-status-info-800: #1A25FF;
--color-status-info-700: #333DFF;
--color-status-info-600: #4D56FF;
--color-status-info-500: #666EFF;
--color-status-info-400: #8086FF;
--color-status-info-300: #999EFF;
--color-status-info-200: #B3B6FF;
--color-status-info-100: #CCCFFF;
--color-status-info-50: #E6E7FF;
--color-status-warning-900: #FFAA00;
--color-status-warning-800: #FFB31A;
--color-status-warning-700: #FFBB33;
--color-status-warning-600: #FFC44D;
--color-status-warning-500: #FFCC66;
--color-status-warning-400: #FFD580;
--color-status-warning-300: #FFDD99;
--color-status-warning-200: #FFE6B3;
--color-status-warning-100: #FFEECC;
--color-status-warning-50: #FFF7E6;
--color-status-error-900: #EF233C;
--color-status-error-800: #F13950;
--color-status-error-700: #F24F63;
--color-status-error-600: #F46577;
--color-status-error-500: #F57B8A;
--color-status-error-400: #F7919E;
--color-status-error-300: #F9A7B1;
--color-status-error-200: #FABDC5;
--color-status-error-100: #FCD3D8;
--color-status-error-50: #FDE9EC;
--color-status-disabled-900: #D8D8D8;
--color-status-disabled-800: #DCDCDC;
--color-status-disabled-700: #E0E0E0;
--color-status-disabled-600: #E4E4E4;
--color-status-disabled-500: #E8E8E8;
--color-status-disabled-400: #ECECEC;
--color-status-disabled-300: #EFEFEF;
--color-status-disabled-200: #F3F3F3;
--color-status-disabled-100: #F7F7F7;
--color-status-disabled-50: #FBFBFB;
--color-status-disabled-gry-900: #7E868D;
--color-status-disabled-gry-800: #8B9298;
--color-status-disabled-gry-700: #989EA4;
--color-status-disabled-gry-600: #A5AAAF;
--color-status-disabled-gry-500: #B2B6BB;
--color-status-disabled-gry-400: #BFC3C6;
--color-status-disabled-gry-300: #CBCFD1;
--color-status-disabled-gry-200: #D8DBDD;
--color-status-disabled-gry-100: #E5E7E8;
--color-status-disabled-gry-50: #F2F3F4;
--color-primary: var(--var-600);
--color-secondary: var(--var-500);
--white: #FFFFFF;
--black: #000000;
}